@-moz-document domain("www.bitview.net") {
#masthead .nav-item {
    display: block;
    float: left;
    background: transparent url(https://raw.githubusercontent.com/flickPF94/bob_css_bitview/main/master-vfl42001.png) no-repeat scroll 0 -137px;
    margin-right: 5px
}

#masthead .nav-item .content {
    color: #920aa6;
}

.contentBox,
#watch-channel-vids-div {
    background: linear-gradient(75deg, rgb(50, 14, 62), rgb(108, 42, 128));
    border: 1px solid #ccc;
    color: #fff
}

#watch-embed-div label,
#watch-url-div label,
.watch-channel-stat {
    color: #dca9ff;
}

#searchField {
    width: 350px;
    color: #a629aa;
    font-size: 12px
}

#masthead .nav-item .rightcap {
    background: transparent url(https://raw.githubusercontent.com/flickPF94/bob_css_bitview/main/master-vfl42001.png) no-repeat scroll -157px 0
}

#masthead .nav-item .leftcap {
    background: transparent url(https://raw.githubusercontent.com/flickPF94/bob_css_bitview/main/master-vfl42001.png) no-repeat scroll -152px 0
}

#smallMastheadLogo {
    content: url(https://i.imgur.com/RpsPB5k.gif);
    width: 104px;
    height: 37px;
    border: 0;
}

#masthead .logo {
    content: url(https://raw.githubusercontent.com/flickPF94/bob_css_bitview/main/CvVcoKo.png);
    float: left;
    display: block;
    margin: 1px 1px 6px 0;
}

.headerTitle {
    font-size: 15px;
    color: #fff;
}

.contentBox a:active,
.contentBox a:link,
.contentBox a:visited,
#watch-channel-vids-div a:link,
#watch-channel-vids-div a:visited,
#watch-channel-vids-div a:active {
    color: #ba22ff;
}

a:active,
a:link,
a:visited {
    color: #2e1ea2;
}

#watch-embed-div,
#watch-video-details-inner,
#watch-url-div {
    border-top: 1px solid #5e5e5e;
}

#watch-video-response {
    background: linear-gradient(75deg, rgb(255, 231, 153), rgb(255, 210, 94));
    border: 1px solid #ffb433;
}

.vlPlayer2009.tealBt .vlBuffer {
    background-color: #a8b
}

.vlPlayer2009.tealBt .vlPosition {
    background-color: #b3f
}

#masthead form {
    margin: 0px 0px 0px -40px;
}

.user-thumb-xlarge img {
    height: 88px!important;
    width: 88px!important;
    margin-left: 0px;
}
.user-thumb-large img {
    height: 60px!important;
    width: 60px !important;
    margin-left: 0px;
}

div[style="background-color: #dee0fd;padding: 10px;border-radius: 8px;margin-top: 10px;width: 540px;"] {
   background: linear-gradient(75deg, rgb(50, 14, 62), rgb(108, 42, 128));
   border: 1px solid #ccc;
   color: #fff;
   border-radius: 0px !important;
}

.homepage-block-heading {
 color: #fff !important;
}

a[style="color:#CC6600"] {
  color: #ba22ff !important;
}

.homepage-yellow-block {
 background: linear-gradient(75deg, rgb(50, 14, 62), rgb(108, 42, 128));
 border: 1px solid #ccc;
 padding:10px 15px 0 15px;
 color: #fff;
 margin-bottom:0
}
.homepage-yellow-block-bot {
 background:#fff;
 width:1px;
 height:11px
}
}

@-moz-document regexp("(http(s)://)www.bitview.net/index.php") #homepage-main-content tbody {
  background: linear-gradient(75deg, rgb(50, 14, 62), rgb(108, 42, 128));
  color: #ba22ff !important;
}

@-moz-document regexp("(http(s)://)www.bitview.net/whats_new.php"), regexp("(http(s)://)www.bitview.net/terms.php"), regexp("(http(s)://)www.bitview.net/privacy.php"), regexp("(http(s)://)www.bitview.net/help.php"), regexp("(http(s)://)www.bitview.net/viewing_history.php"), regexp("(http(s)://)www.bitview.net/about.php") {
.wrapper {
    border: 1px solid #ccc;
    padding: 4px;
    background: linear-gradient(rgb(255, 255, 255), rgb(240, 240, 240));
}
}

@-moz-document regexp("(http(s)://)www.bitview.net/groups.*") {
#browseMain .vimg120 {
    width: 100px !important;
    height: 100px !important;
}

.vEntry {
    background: linear-gradient(rgb(255, 255, 255), rgb(242, 242, 242));
    border: 1px solid #ccc;
    padding: 0px 0;
    border-bottom: 0px dotted #999;
}

.pagerNotCurrent {
    font-size: 12px
}
}

@-moz-document regexp("(http(s)://)www.bitview.net/videos.php") {
.vimg120 {
    width: 120px;
    height: 83px;
}
}
