@-moz-document domain("www.bitview.net") {
#masthead .nav-item {
   display:block;
   float:left;
   background:transparent url(https://raw.githubusercontent.com/flickPF94/bob_css_bitview/main/master-vfl42001.png) no-repeat scroll 0 -137px;
   margin-right:5px
  }
   #masthead .nav-item .content {
   color:#920aa6;
   }
   #watch-channel-vids-div {
   background:linear-gradient(135deg, rgb(216, 98, 255), rgb(122, 23, 151));
   border:1px solid #ccc;
   color: #fff
   }
   .watch-channel-stat {
   color:#63288c;
   }
   #searchField {
   width:350px;
   color:#a629aa;
   font-size:12px
   }
   #masthead .nav-item .rightcap {
   background:transparent url(https://raw.githubusercontent.com/flickPF94/bob_css_bitview/main/master-vfl42001.png) no-repeat scroll -157px 0
   }
   #masthead .nav-item .leftcap {
   background:transparent url(https://raw.githubusercontent.com/flickPF94/bob_css_bitview/main/master-vfl42001.png) no-repeat scroll -152px 0
   }
   #smallMastheadLogo {
    content: url(https://i.imgur.com/RpsPB5k.gif) ;
    width: 104px;
    height: 37px;
    border: 0;
   }
    #masthead .logo {
     content: url(https://i.imgur.com/CvVcoKo.png) ;
    float: left;
    display: block;
    margin: 1px 1px 6px 0;
    }
}
